---
import { getCollection } from "astro:content";
import { Debug } from 'astro:components';
import Wrapper from "@components/Wrapper"
import OuterBlock from "@components/OuterBlock";
import InnerBlock from "@components/InnerBlock"
import { getEntries } from "astro:content";

export async function getStaticPaths() {
	const authors = await getCollection('authors')
	return authors.map((author) => {
		return {
			params: { author: author.slug},
			props: { author }
		};
	})
}

const { author } = Astro.props
const { Content } = await author.render()
// const articles = (await getCollection('articles'))
function slug2issue(slug) {
	console.log(slug);
	return parseInt(slug.split("/")[0].split("_")[1])
}
let articles = await getCollection('articles')
articles = articles.filter((x) => x.data.authors.map((y) => y.id).includes(author.slug))
	.sort((a, b) => (slug2issue(a.slug) < slug2issue(b.slug)) ? 1 : -1)
---

<Wrapper title="Simple Wrapper">
	<div class=`max-width font-serif text-center pt-12 pb-12 border-b-2 border-black` data-aos="fade-in">
		<div class="text-2xl pb-4">{author.data.name}</div>
		<Content />
	</div>
	{articles.map((i) => <OuterBlock article={i} overrideBlock=true />)} 



	<!-- <div class="flex flex-col font-serif text-3xl text-left space-y-2">
		<span class="font-serif text-5xl">{author.data.name}</span>
		<br class="my-2"/>
		<span class="font-serif text-lg">{author.body}</span>
	</div>
	<hr class="mt-4">
	{articles.map((i) => <InnerBlock article={i} showAuthor={false} showThumb={false}/>)} -->
</Wrapper>
