---
import { getCollection } from "astro:content";
import { Debug } from 'astro:components';
import Wrapper from "@components/Wrapper"
import InnerBlock from "@components/InnerBlock"
import { getEntries } from "astro:content";

export async function getStaticPaths() {
	const authors = await getCollection('authors')
	return authors.map((author) => {
		return {
			params: { author: author.slug},
			props: { author }
		};
	})
}

const { author } = Astro.props
const articles = (await getCollection('articles'))
					.sort((a, b) => (a.data.date < b.data.date) ? 1 : -1)
					.filter((x) => x.data.authors.map((y) => y.slug)
					.includes(author.slug))
---

<Wrapper title="Simple Wrapper">
	<div class="flex flex-col font-sans text-3xl text-left space-y-2">
		<span class="font-sans text-5xl">{author.data.name}</span>
		<br class="my-2"/>
		<span class="font-sans text-lg">{author.body}</span>
	</div>
	<hr class="mt-4">
	{articles.map((i) => <InnerBlock article={i} showAuthor={false} showThumb={false}/>)}
</Wrapper>
