---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"
import Banner from "@components/Banner";
import Wrapper from "@components/Wrapper"
import ArticleBanner from "@components/ArticleBanner";

export async function getStaticPaths() {
	const blogEntries = await getCollection('articles') 
	return blogEntries.map((article) => {
		return {
			params: { article: article.slug},
			props: { article }
		};
	})
}

const { article } = Astro.props
const { Content } = await article.render()
---

<!-- <div class="text-center font-sans text-base basis-full leading-relaxed"> -->
<Wrapper title={article.data.title} expand={false}>
	<div class="flex flex-col mx-[10%] items-center">
		<ArticleBanner entity={article} />
		<Image src={article.data.image} alt="" class="my-8 sm:mb-12 w-min max-w-6/12 object-contain" />
		<div class="flex flex-row w-full">
			<div class="prose py-12 mx-auto sm:!max-w-4xl 2xl:!max-w-6xl
				prose-p:tracking-tightx prose-p:leading-body prose-p:text-black 
				prose-p:font-sans
				sm:prose-p:text-body prose-headings:py-2"><Content />
			</div>
		</div>
	</div>

	<script>
		const paragraphs = document.querySelectorAll("p");
		[...paragraphs].map(p => p.setAttribute("data-aos", "fade-in"));
	</script>

</Wrapper>


		<!-- <div class="max-width flex flex-col font-serif text-center items-center py-12 border-b-2 border-black">
			<div class="mb-8 sm:mb-12"><Image src={article.data.image} alt="" class="w-min max-h-72 object-contain" /></div>
			<div class="mb-4 text-5xl">{article.data.title}</div>
			<div class="mb-8 font-sans uppercase text-2xl"><AuthorList authors={authors} /><br></div>
			<div class="max-w-3xl text-lg">{article.data.abstract}</span></div>
		</div> -->
