---
	import { Image } from 'astro:assets';
	import { getEntry, getEntries } from 'astro:content';
	import { Debug } from "astro:components"
	import AuthorList from "@components/AuthorList"
	const { article, showAuthor = true, showThumb = true } = Astro.props
	var date = article.data.date

	const datestring = `${date.getDate()} ${date.toLocaleDateString(undefined, {month: 'long'})} ${date.getFullYear()}`
	const authors = await getEntries(article.data.authors)
	const width = article.data.expand ? "w-8/12" : "w-4/12"
	const parentClass =  "flex flex-col my-4 px-6 space-y-1 min-w-72 group " + width
	// const authors = article.data.authors.split(",").map(s => s.trim())
---

<div class={parentClass} data-aos="fade-in">
	{article.data.image && 
		(article.data.expand ? 
						<Image src={article.data.image} alt="" class="border-4 border-transparent basis-1/12" /> :
						<Image src={article.data.image} alt="" class="basis-1/12 group-hover:saturate-0 duration-200" />)}
	<div class="border border-transparent pr-4 pl-1 pb-2 text-p-blue hover:border-p-blue transition duration-200 bg-contain">
		<div class="font-sans text-2xl mb-2">
			<a class="hover:text-p-red " href={`/${article.slug}`}>{article.data.title}</a>
		</div>
		<div class="mb-4">
			<span class="text-base align-middle uppercase "><AuthorList authors={authors} /></span>
		</div>
		<div class="hidden lg:block overflow-scroll font-hargle font-medium text-base text-black">{article.data.abstract}</div>
	</div>
</div>
