---
	import { getEntry, getEntries } from 'astro:content';
	import { Debug } from "astro:components"
	import AuthorList from "@components/AuthorList"
	const { article, showAuthor = true, showThumb = true } = Astro.props
	var date = article.data.date

	const datestring = `${date.getDate()} ${date.toLocaleDateString(undefined, {month: 'long'})}, ${date.getFullYear()}`
	const authors = await getEntries(article.data.authors)
	// const authors = article.data.authors.split(",").map(s => s.trim())
---

<div class="mb-2">
	{showAuthor && <span class="font-sans text-lg"><a href={`/${article.slug}`}>{article.data.title}</a></span>}
	{showAuthor ? <br class="mb-4" /> : <br/>}
	<div class="mb-6 overflow-hidden">
		{
			showThumb && <img class="float-left border-2 border-slate-600 mr-5" src="https://viewpointmag.com/wp-content/uploads/2023/01/marcha2-1-150x150.jpg">
		}
		<!-- <Debug {authors} /> -->
		{
			showAuthor ? <AuthorList authors={authors} /> 
				: <span class="font-sans text-base align-top"><a href={`/${article.slug}`}>{article.data.title}</a></span>
		}
		<span class="align-top font-sans text-base text-slate-700">{datestring}</span>
		<br class="mb-2" /> 
		<span class="align-top text-sm">{article.data.abstract}</span>
	</div>
	<hr>
</div>