---
import { Image } from "astro:assets"
import AuthorList from "./AuthorList.astro";
import { getEntries } from "astro:content";

const { entity } = Astro.props;
const { Content } = await entity.render();

let authors = null;
if (entity.data.authors) {
	authors = await getEntries(entity.data.authors)
}

if (entity.data.colour === null) {
	entity.data.colour = '#ffffff'
}
---

<div class="border-b-2 border-black" style={`background-color: ${entity.data.colour}`}>	
	<div class=`flex flex-col items-center text-center max-width py-16` data-aos="fade-in">
		<Image src={entity.data.image} alt="" class="mb-8 sm:mb-8 w-min max-h-72 object-contain" />
		<div class="text-6xl mb-6 font-sans font-bold"><a href={`${import.meta.env.BASE_URL}/${entity.slug}`}>{entity.data.title}</a></div>
		<div class="max-w-3xl text-2xl">{entity.data.abstract ? entity.data.abstract:<Content />}</div>
</div>
	
</div>	