---

import { Image } from "astro:assets"
import logoImage from "../../public/img/logo.svg"
import { Debug } from "astro:components";
const base_url = import.meta.env.BASE_URL

const { expand = true } = Astro.props;

let width = expand ? "w-3/4 lg:w-full" : ""
let top_menu = expand ? "hidden lg:flex" : "hidden"
---

<script>
	const pageContent = document.querySelector('#page-content') as HTMLElement;
	const header = document.querySelector('#header') as HTMLElement;
	const hamburger = document.querySelector('#hamburger') as HTMLElement;
	const smallMenu = document.querySelector('#sm-menu') as HTMLElement;
	const largeMenu = document.querySelector('#lg-menu') as HTMLElement;
	
	// largeMenu.style.bottom = `${48}px`;		

	function moveLargeMenu() {
		const headerHeight = header.offsetHeight;
		const headerWidth = header.offsetWidth;
		const fontHeight = largeMenu.offsetHeight;
		const padTop = parseInt(window.getComputedStyle(header)["padding-top"])
		const padBot = parseInt(window.getComputedStyle(header)["padding-bottom"])
		const imageHeight = headerHeight - (padTop + padBot); 
		
		const topLimit = padTop + (imageHeight * 0.95);
		const botLimit = headerHeight - (80 / 2);
		const midpoint = (headerHeight + window.scrollY) / 2;

		let top = Math.max(topLimit, midpoint);
		top = Math.min(top, botLimit);
		top = top - (fontHeight / 2)
		let right = headerWidth * 0.08;

		largeMenu.style.top = `${top}px`
		largeMenu.style.right = `${right}px`
	}

	function drawShadow() {
		if(largeMenu.offsetParent) {
			const headerHeight = header.offsetHeight;
			const maxScroll = headerHeight - 80;
			const scrollY = window.scrollY;
			const opacity = Math.min(0.1, (scrollY / (10 * maxScroll)))
			const shadowString = `0 4px 6px -1px rgba(0,0,0,${opacity}), 0 2px 4px -2px rgba(0,0,0,${opacity})`;
			header.style.boxShadow = shadowString;
		}
		else
		{
			header.style.boxShadow = "";
		}
		// console.log(opacity);
	}

	function switchMenuType() {
		pageContent.classList.toggle("hidden");
		smallMenu.classList.toggle('hide-nav');
		smallMenu.classList.toggle('show-nav');
	}

	function updateStickyOffset() {
		const viewportHeight = window.innerHeight;
		const headerHeight = header.offsetHeight;

		if (largeMenu.offsetParent) {
			header.style.top = `-${headerHeight - 80}px`;
			if(smallMenu.classList.contains('show-nav')) {
				switchMenuType();
			}
		}
		else {
			header.style.top = "0px";
			smallMenu.style.top = `${headerHeight}px`;
			smallMenu.style.height = `${viewportHeight - headerHeight}px`;
		}
	}

	moveLargeMenu();
	drawShadow();
	updateStickyOffset();
    largeMenu.classList.toggle("invisible");
    largeMenu.classList.toggle("quick-animate");

	hamburger.addEventListener('click', switchMenuType);
	window.addEventListener('resize', updateStickyOffset);
	window.addEventListener('resize', moveLargeMenu);
	window.addEventListener('resize', drawShadow);
	window.addEventListener('scroll', moveLargeMenu);
	window.addEventListener('scroll', drawShadow);

	const observer = new ResizeObserver(updateStickyOffset);
	observer.observe(document.querySelector('#header'));
</script>

<!-- includes mobile menu -->
<header id="header" class="sticky top-0 bg-white flex flex-col items-center h-full w-full font-serif px-[2vw] py-[16px] lg:pb-10 lg:py-0 header-shadow">
						   
	<!-- just the header -->
	<div class="flex flex-row lg:flex-col w-full text-4xl items-center max-h-max">
		<div class=`${width} max-h-[64px] lg:max-h-full flex justify-start`>
			<Image src={logoImage} alt="" id="banner" class="h-auto w-auto max-h-[64px] lg:w-full lg:max-h-full" />		
		</div>

		<ul id="lg-menu" class=`${top_menu} invisible ml-auto space-x-20 absolute top-0 right-0 
					lg:text-2xl xl:text-3xl`>
			<li><a href=`${base_url}/comingsoon`>Articles</a></li>
			<li><a href=`${base_url}`>Issues</a></li>
			<li><a href=`${base_url}/comingsoon`>Contact us</a></li>
			<li><a href=`${base_url}/about`>About</a></li>

		</ul>

		<div class=`w-1/4 lg:hidden text-right`>
			<button id="hamburger">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div>

	</div>
	<div id="sm-menu" class="text-2xl flex flex-col border-black hide-nav w-full bg-white z-50 fixed items-center">
		<div class="py-4"><a href=`${base_url}/comingsoon` class="hover:text-gray-400">Articles</a></div>
		<div class="py-4"><a href=`${base_url}` class="hover:text-gray-400">Issues</a></div>
		<div class="py-4"><a href=`${base_url}/comingsoon` class="hover:text-gray-400">Contact us</a></div>
		<div class="py-4"><a href=`${base_url}/about` class="hover:text-gray-400">About</a></div>
	</div>
</header>




	<!-- <nav class="flex items-center justify-end font-serif text-base grow space-x-20">
		<span><a class="text-black" href=`${import.meta.env.BASE_URL}/about`>About</a></span>
	</nav> 				top-[calc(64px+var(--spacing)*6*2)]"
bottom-4 right-[8%]
 </div> -->
