---
	import { Image } from 'astro:assets';
	import { Debug } from 'astro:components';
	import { getEntry, getEntries } from 'astro:content';
	import AuthorList from "@components/AuthorList"
	const { article, colour, overrideBlock = false } = Astro.props
	var date = article.data.date

	// const datestring = `${date.getDate()} ${date.toLocaleDateString(undefined, {month: 'long'})} ${date.getFullYear()}`
	const authors = await getEntries(article.data.authors)
	// let width = article.data.expand ? "w-6/12" : "w-3/12"
	let width = {1: "w-3/12", 2: "w-6/12", 3: "w-9/12", 4: "w-12/12"}[article.data.block]
	// if (overrideBlock) {
	// 	width = "w-12/12"
	// 	article.data.block = 4
	// }

	let f = ""
	let image_margin = "mb-4"
	let image_width = ""
	let text_width = ""
	let align = "text-left"
	let hsize = "text-2xl"
	let tsize = "text-base"
	if (article.data.block >= 3) {
		image_margin += " sm:mr-4"
		image_width += " sm:w-4/12"
		text_width += " sm:w-8/12 sm:mx-12"
		f += " sm:flex sm:flex-row"
		align += " sm:text-center"
		hsize += " sm:text-4xl"
		tsize += " sm:text-lg"
	}
	// const authors = article.data.authors.split(",").map(s => s.trim())
---

<div class=`flex flex-col py-12 px-12 min-w-72 group border-b-2 ${width}` style={`border-color: ${colour}`} data-aos="fade-in">
	<!-- <hr class="border-black border-b-0 mb-4"> -->
	<div class={f}>
		<Image src={article.data.image} alt="" class=`${image_width} ${image_margin} object-contain max-h-64` />
		<Debug block={article.data}/>
		<div class=`my-auto ${text_width}`>
			<!-- <hr class="border-black border-b-0 mb-4"> -->
			<div class=`font-serif ${hsize} ${align}`><a class="hover:text-p-red" href={`${import.meta.env.BASE_URL}/${article.slug}`}>{article.data.title}</a></div>
			<div class=`mb-6 ${align} text-lg align-middle uppercase `><AuthorList authors={authors} /></div>
			<div class=`font-serif ${tsize} text-black ${align} mb-4`>{article.data.abstract}</div>
			<!-- <hr class="border-black border-b-0"> -->
		</div>
	</div>
</div>
