---

import Image from "astro/components/Image.astro";
import logoImage from "../../public/img/logo.svg"
const base_url = import.meta.env.BASE_URL

const { expand = true } = Astro.props;

let width = expand ? "w-full" : ""
let top_menu = expand ? "hidden md:flex" : "hidden"
let bot_menu = expand ? "flex md:hidden" : "flex"

---

<header class="border-b-2 border-black font-serif h-max">
	<div class="flex flex-col items-center py-4 sm:max-width px-4 h-full w-full">

		<div class="flex flex-col w-full text-4xl relative items-center">
			<Image src={logoImage} alt="" class=`${width}` />		
			<ul class=`${top_menu} md:text-base lg:text-2xl ml-auto space-x-20 absolute bottom-0 right-0`>
				<li><a href=`${base_url}/articles` class="hover:text-p-red">Articles</a></li>
				<li><a href=`${base_url}/about` class="hover:text-p-red">About</a></li>
			</ul>
		</div>

		<ul class=`${bot_menu} md:text-2xl mx-auto space-x-20`>
			<li><a href=`${base_url}/articles` class="hover:text-p-red">Articles</a></li>
			<li><a href=`${base_url}/about` class="hover:text-p-red">About</a></li>
		</ul>

	</div>
</header>

	<!-- <nav class="flex items-center justify-end font-serif text-base grow space-x-20">
		<span><a class="text-black" href=`${import.meta.env.BASE_URL}/about`>About</a></span>
	</nav> -->
<!-- </div> -->
